mixin sample-form__header(elementName, status)
  .sample-form__header&attributes(attributes)
    span.text.text_level_h3.sample-form__name= elementName
    span.text.text_level_h3.sample-form__status= status