//- File generated automatically.
//- Any changes will be discarded during next compilation.

include ../__calculation-item/card__calculation-item.pug
include ../__calculation-total/card__calculation-total.pug
