mixin dropdown__item(name)
  li.dropdown__item&attributes(attributes)= name
    +dropdown__button()(class='dropdown__button_type_decrement', disabled)
    +dropdown__item-value
    +dropdown__button()(class='dropdown__button_type_increment')