@import 'dependencies.scss';

.footer__bottom-bar {
  @include side-paddings($ref-padding: 138px, $sides: 'right');
  @include side-paddings($sides: 'left');
  display: flex;
  justify-content: space-between;
  padding-bottom: 9px;
  padding-top: 9px;
  
  .footer_type_creative & {
    padding-top: 0;
  }
}