include dependencies.pug
mixin footer__bottom-bar
  .footer__bottom-bar
    p.footer__copyright Copyright © 2018 Toxin UI Kit. All rights reserved.
    +footer__social([{name: 'twitter'}, {name:'facebook-square'}, {name: 'instagram'}])