@import 'dependencies.scss';

.footer__bottom-bar {
  @include calc-paddings($ref-padding: 138px, $sides: 'right');
  @include calc-paddings($sides: 'left');
  display: flex;
  justify-content: space-between;
  padding-bottom: 9px;
  padding-top: 9px;
  
  .footer_type_creative,
  .footer_type_creative_always & & {
    padding-top: 0;
  }
}