include dependencies.pug
mixin footer__bottom-bar(copyright)
  - copyright = copyright || 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
  .footer__bottom-bar
    p.footer__copyright= copyright
    +footer__social([{name: 'twitter'}, {name:'facebook-square'}, {name: 'instagram'}])