mixin radio(name, label, description)
  -
    let classes;
    if (attributes && attributes.class) {
      classes = attributes.class;
      delete attributes.class;
    }
    else {
      classes = [];
    }

  label.radio(class=classes)
    +input()(type='radio', name=name)&attributes(attributes)
    .radio__button
    span.radio__label= label
    if description
      span.radio__description= description