mixin subscription
  - attributes.class = attributes.class ? attributes.class + ' subscription' : 'subscription';
  +icon-field('arrow_forward', false, false, {type: 'email', placeholder: 'Email'})&attributes(attributes)