mixin subscription
  -
    let classes;
    if (attributes && attributes.class) {
      classes = attributes.class;
      delete attributes.class;
    }
    else {
      classes = [];
    }

  .subscription(class=classes)
    +field()(type='email', placeholder='Email')&attributes(attributes)
    +icon('arrow_forward')