mixin subscription
  - attributes.class = attributes.class ? attributes.class + ' subscription' : 'subscription';
  +icon-field('arrow_forward', 'primary-gradient', false, {type: 'email', placeholder: 'Email'})&attributes(attributes)