mixin pie-chart__gradients
  defs
    linearGradient#gradient0(x1=0 x2=0 y1=0 y2=1)
      stop(offset='0%' stop-color='#919191')
      stop(offset='100%' stop-color='#3d4975')
    linearGradient#gradient1(x1=0 x2=0 y1=0 y2=1)
      stop(offset='0%' stop-color='#bc9cff')
      stop(offset='100%' stop-color='#8ba4f9')
    linearGradient#gradient2(x1=0 x2=0 y1=0 y2=1)
      stop(offset='0%' stop-color='#6fcf97')
      stop(offset='100%' stop-color='#66d2ea')
    linearGradient#gradient3(x1=0 x2=0 y1=0 y2=1)
      stop(offset='0%' stop-color='#ffe39c')
      stop(offset='100%' stop-color='#ffba9c')