mixin results
  - const roomsList = [ 888, 840, 980, 856, 740, 982, 678, 450, 350, 666, 444, 352 ];
  section.results&attributes(attributes)
    h1.text_level_h1 Номера, которые мы для вас подобрали
    .results__rooms
      each room in roomsList
        +room-plate(room)
    -
      const pages = [
        {value: 1, href: '#'},
        {value: 2, href: '#'},
        {value: 3, href: '#'},
        { value: '...', placeholder: true },
        {value: 15, href: '#'},
        { next: true }
      ];
    +pagination(pages, '1 – 12 из 100+ вариантов аренды')(class='results__pagination')