mixin dropdown__button(value, type)
  - const buttonClass = type ? `dropdown__button dropdown__button_type_${type}` : 'dropdown__button';
  +button()(class=buttonClass)&attributes(attributes)
    =value