mixin dropdown__button
  +button()(class='dropdown__button')&attributes(attributes)
    -
      let val;
      if (attributes.class) {
        if (attributes.class.includes('dropdown__button_type_decrement')) {
          val = '-';
        }
        else if (attributes.class.includes('dropdown__button_type_increment')) {
          val = '+';
        }
        else if (attributes.class.includes('dropdown__button_type_clear')) {
          val = 'Очистить';
        }
        else if (attributes.class.includes('dropdown__button_type_apply')) {
          val = 'Применить';
        }
        else {
          val = '';
        }
      }

    =val