include dependencies.pug
mixin dropdown__controls
  .dropdown__controls&attributes(attributes)
    +button(
      {text: 'Очистить', textColor: 'dark-50'},
      'text',
      'min')(class='dropdown__control dropdown__control_type_clear')
    +button(
      {text: 'Применить', textColor: 'primary-color'},
      'text',
      'min')(class='dropdown__control dropdown__control_type_apply')