include dependencies.pug
mixin palette
  -
    const colors = [
      {name: 'Dark Shade 100%', code: '#1F2041'},
      {name: 'Dark Shade 75%', code: '#1F2041'},
      {name: 'Dark Shade 50%', code: '#1F2041'},
      {name: 'Dark Shade 25%', code: '#1F2041'},
      {name: 'Dark Shade 5%', code: '#1F2041'},
      {name: 'Purple', code: '#BC9CFF'},
      {name: 'Green', code: '#6FCF97'}
    ]
  ul.palette&attributes(attributes)
    each color in colors
      +palette__item(color.name, color.code)