// File generated automatically.
// Any changes will be discarded during next compilation.

@import '_skin_toxin/slider_skin_toxin.scss';
@import '__header/slider__header.scss';
@import '../input/input.scss';
@import '__output/slider__output.scss';
