@mixin text_level {
  $dark: black !default;
  $dark-25: rgba(0, 0, 0, 0.25) !default;
  $ref-rem: 1 !default;

  $h1-font-size: 24px / $ref-rem;
  $h1-line-height: 30px / 24px;
  $h2-font-size: 19px / $ref-rem;
  $h2-line-height: 24px / 19px;
  $h3-font-size: 12px / $ref-rem;
  $h3-line-height: 15px / 12px;

  %text_header {
    color: $dark;
    font: {
      family: 'Quicksand', sans-serif;
      weight: bold;
    }
  }

  .text_level {
    &_h1 {
      @extend %text_header;
      font-size: $h1-font-size;
      line-height: $h1-line-height;
    }
    &_h2 {
      @extend %text_header;
      font-size: $h2-font-size;
      line-height: $h2-line-height;
    }
    &_h3 {
      color: $dark;
      font: {
        size: $h3-font-size;
        weight: bold;
      }
      line-height: $h3-line-height;
      text-transform: uppercase;
    }
  }
}
