//- File generated automatically.
//- Any changes will be discarded during next compilation.

include '../../blocks/body/body.pug';
include '../../blocks/header/header.pug';
include '../../blocks/logo-sign/logo-sign.pug';
include '../../blocks/main/main.pug';
