@import 'variables';
@import 'dependencies.scss';
.ui-kit {

  @media (max-width: 851px) {
    & {
      font-size: 12px;
    }
  }
  @media (min-width: 851px) {
    & {
      font-size: 16px;
    }
  }

  &__header {
    margin: 0;
    padding: 30px;
  }
  &__logo {
    display: block;
  }
  &__main {
    display: grid;
  }
}