include dependencies.pug
doctype html
html.ui-kit
  head
    meta(charset="utf-8")
    title
      block title
        ='UI-kit'
  +body()(class='text ui-kit__body')
    header.ui-kit__header
      +logo-sign('ui-kit')(class='ui-kit__logo')
    +main()(class='ui-kit__main')
      block content