mixin button(content, type='fill', size='normal', disabled=false)
  //- content should be an object with properties:
  //-   text - text content for button
  //-   textColor - color type for text
  //-   icon - icon name for button
  //-   iconColor - color type for icon
  //- Content can be also supplied as block.
  //- 
  //- type - string (can be 'fill', 'border' or 'text')
  //- 
  //- size - string (can be 'normal', 'big' or 'min')
  //- 
  //- If disabled is true, button with disabled property will be created.
  -
    if (disabled) {
      attributes.disabled = '';
    }
  button.button.text.text_level_h3(type='button', class=`button_type_${type} button_size_${size}`)&attributes(attributes)
    if content
      if content.text
        span.button__text(class= content.textColor ? `button__text_color_${content.textColor}` : '')
          =content.text
      if content.icon
        +icon(content.icon, content.iconColor)(class='button__icon')
    block