mixin pie-chart__total(amount)
  - const wording = require('utils/wording');
  .pie-chart__total
    - const total = wording(amount, ['0 голосов', 'голос', 'голоса', 'голосов']).split(' ')
    .pie-chart__total-amount= total[0]
    .pie-chart__total-word= total[1]