include dependencies.pug
mixin card__registration
  form.card__registration&attributes(attributes)
    h1.card__header.text_level_h1 Регистрация аккаунта
    +input()(placeholder='Имя', class='card__user-info')
    +input()(placeholder='Фамилия', class='card__user-info')
    +list([
      {name: 'sex', label: 'Мужчина', checked: ''},
      ['sex', 'Женщина']
    ], 'radio')(class='card__user-info')
    .card__sub-header.text_level_h3 Дата рождения
    +input('date')(class='card__date')
    .card__sub-header.text_level_h3 Данные для входа в сервис
    +account
    +checkbox('offer', 'Получать спецпредложения', '', 'toggle')
    +button(
      {text: 'Перейти к оплате', icon: 'arrow_forward'},
      'fill',
      'big')(class='card__pay')
    +have-account(true)