@import 'dependencies.scss';

.room-plate__arrows {
  color: $light;
  display: flex;
  font-size: 24px / $ref-rem;
  justify-content: space-between;
  left: 0;
  line-height: 1;
  padding-left: 11px;
  padding-right: 9px;
  position: absolute;
  right: 0;
  top: calc(50% - #{24px / $ref-rem / 2});
}