include dependencies.pug
mixin account
  .account&attributes(attributes)
    +input()(type='email', placeholder='Email', class='account__field')
    +input()(type='password', placeholder='Пароль', class='account__field')