mixin like(liked, number)
  -
    const likeClass = liked ? 'like like_liked' : 'like';
    let inputAttrs = {
      type:'checkbox',
      class: 'like__input',
      name: 'like'
    }
    if (liked) {
      inputAttrs.checked = '';
    }
  label(class=likeClass)&attributes(attributes)
    +input(false, 'invisible')&attributes(inputAttrs)
    +icon()(class='like__icon')
    span.like__count= number