mixin like(liked, number)
  - const likeClass = liked ? 'like like_liked' : 'like';
  button(type='button', class=likeClass)&attributes(attributes)
    +icon()(class='like__icon')
    span.like__count= number