@import 'dependencies.scss';

.toxin {
  &__body {
    margin: 0;
    width: 1440px;
  }

  &__main {
    @include calc-air;
    column-gap: 60px;
    display: grid;
    grid-template-columns: 266px 1fr;
  }

  &__filter {
    padding-top: 28px;
  }
}