mixin input(mask=false, position='external')
  -
    if (!attributes.type || ['text', 'email', 'password'].includes(attributes.type)) {
      var inputClass = 'input_type_text';
    }
    else {
      var inputClass = `input_type_${attributes.type}`;
    }
    inputClass += ` input_position_${position}`;
    if (mask === 'date') {
      attributes.placeholder = 'ДД.ММ.ГГГГ';
      inputClass += ' input_masked_date'
    }
  input.input(class=inputClass)&attributes(attributes)