include dependencies.pug
mixin header__user-info(user, buttons)
  - buttons = buttons || []
  .header__user-info(class=user ? 'header__user-name' : 'header__buttons')
    if user
      =user
    else
      each button in buttons
        +button(button.content, button.type, 'slim')(class='header__button')
