include dependencies.pug
mixin header__user-info(user)
  .header__user-info(class=user ? 'header__user-name' : 'header__buttons')
    if user
      =user
    else
      +button({text: 'Login'}, 'border', 'slim')
      +button({text: 'Register'}, 'fill', 'slim')
