mixin pie-chart__legend(items)
  ul.pie-chart__legend
    each item, index in items.reverse()
      li.pie-chart__legend-item
        svg(width=10 height=10)
          circle(r=5 cx='50%' cy='50%' fill=item.color)
        =item.name