mixin checkbox(name, description)
  -
    let classes;
    if (attributes && attributes.class) {
      classes = attributes.class;
      delete attributes.class;
    }
    else {
      classes = [];
    }

  label.checkbox(class=classes)
    +field()(type='checkbox')&attributes(attributes)
    =name
    if description
      p.checkbox__description= description