@mixin checkbox {
  @include input;

  .checkbox {
    column-gap: 10px / $ref-rem;
    display: flex;

    &_type_rich {
      flex-wrap: wrap;
    }
  }

  @include checkbox__box;
  @include checkbox__description;
  @include checkbox__label;
}