@mixin checkbox {
  .checkbox {
    column-gap: 10px;
    display: flex;
    line-height: 20px;
  }
  @include checkbox__box;
  @include checkbox__marker;
  @include checkbox__input;
  @include checkbox__label;
}