include dependencies.pug
mixin calendar(options)
  .calendar&attributes(attributes)
    .calendar__picker&attributes(options)
    +control(
      [
        { text: 'Очистить', color: 'dark-50', action: 'clear' },
        { text: 'Применить', color: 'primary-color', action: 'apply' }
      ],
      {
        selector: '.calendar__picker',
        name: 'datepicker'
      }
    )(class='calendar__control')