mixin calendar(options)
  //- Create calendar. options should contain properties according to
  //- air-datepicker docs. Also connect: true should be set to trigger
  //- 'calendar:date' event on date selection (selected dates will be supplied).
  .calendar&attributes(attributes)
    - const toDataAttrs = require('../../../utils/convert').toDataAttrs;
    .calendar__picker&attributes(options ? toDataAttrs(options) : {})
    +control(
      [
        { text: 'Очистить', color: 'dark-50', action: 'clear' },
        { text: 'Применить', color: 'primary-color', action: 'apply' }
      ],
      {
        selector: '.calendar__picker',
        name: 'datepicker'
      }
    )(class='calendar__control')