@mixin dropdown__total {
  @include icon-field;

  .dropdown__total {
    column-gap: calc(100% - 220px);

    .dropdown_expanded & {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: $dark-50;
      // make icon darker
      * {
        color: $dark-75;
      }
    }
  }
}