include dependencies.pug
mixin date-picker(type='single', firstName, secondName)
  //- Datepicker with type single or double. Date-pickers for double inputs are
  //- coupled: for each two sequent the first is for begin date, the second is
  //- for end date.
  .date-picker(class= type==='double' ? 'date-picker_double' : '')&attributes(attributes)
    .date-picker__fields
      +date-picker__field(type, firstName)
      if type === 'double'
        +date-picker__field(type, secondName)
      - const calendarOptions = { connect: true };
    +calendar(calendarOptions)(class='date-picker__calendar')