@mixin checkbox__label {
  .checkbox__label {
    line-height: #{(19px / 14px)};

    .checkbox_type_radio .checkbox__input:checked ~ & {
      color: $dark-75;
    }

    .checkbox_type_rich & {
      font-weight: bold;
    }
  }
}