.icon-field {
  align-items: center;
  border-radius: 4px;
  border: 1px solid $dark-25;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 44px / $ref-rem;
  height: 44px / $ref-rem;

  &:hover,
  &:focus {
    border-color: $dark-50;
  }
}