include dependencies.pug
mixin header__main(user)
  .header__main
    +menu([
      {name: 'Home', active: true},
      {name: 'About Us'},
      {name: 'Services', expandable: true},
      {name: 'Careers'},
      {name: 'News'},
      {name: 'Documentation'}
    ])
    +header__user-info(user)