//- File generated automatically.
//- Any changes will be discarded during next compilation.

include '../../blocks/body/body.pug';
include '../../blocks/header/header.pug';
include '../../blocks/logo-sign/logo-sign.pug';
include '../../blocks/main/main.pug';
include '../../blocks/sample-form/sample-form.pug';
include '../../blocks/input/input.pug';
include '../../blocks/dropdown/dropdown.pug';
include '../../blocks/date-picker/date-picker.pug';
include '../../blocks/subscription/subscription.pug';
include '../../blocks/list/list.pug';
include '../../blocks/like/like.pug';
include '../../blocks/rating/rating.pug';
include '../../blocks/slider/slider.pug';
include '../../blocks/button/button.pug';
include '../../blocks/pagination/pagination.pug';
include '../../blocks/exp-list/exp-list.pug';
include '../../blocks/comment/comment.pug';
