// File generated automatically.
// Any changes will be discarded during next compilation.

@import '../ui-kit/ui-kit.scss';
@import '../../blocks/sample-form/sample-form.scss';
@import '../../blocks/input/input.scss';
@import '../../blocks/dropdown/dropdown.scss';
@import '../../blocks/double-date-picker/double-date-picker.scss';
@import '../../blocks/date-picker/date-picker.scss';
@import '../../blocks/subscription/subscription.scss';
@import '../../blocks/list/list.scss';
@import '../../blocks/like/like.scss';
@import '../../blocks/rating/rating.scss';
@import '../../blocks/slider/slider.scss';
@import '../../blocks/button/button.scss';
@import '../../blocks/pagination/pagination.scss';
@import '../../blocks/exp-list/exp-list.scss';
@import '../../blocks/comment/comment.scss';
