include /mixins
//- Comment add ui-kit styles
//- +ui-kit

doctype html
html
  head
    meta(charset="utf-8")
    title Form Elements
  +body()(class='text')
    +header()(class='ui-kit__header')
      +logo-sign()(class='ui-kit__logo')
    +main
      +sample-form('Text field', 'Default')
        +field()(type='email', placeholder='Email')
      +sample-form('Text field', 'Hover / Focus')
        +field()(type='text', value='This is pretty awesome')
      +sample-form('Dropdown', 'Default')
        +dropdown()(class='dropdown_type_guests')
        +dropdown()(class='dropdown_type_conveniences')