include /mixins
//- Comment add ui-kit styles
//- +ui-kit

doctype html
html
  head
    meta(charset="utf-8")
    title Form Elements
  +body()(class='text')
    +header()(class='ui-kit__header')
      +logo-sign()(class='ui-kit__logo')
    +main
      +sample-form('Text field', 'Default')
        +field()(type='email', placeholder='Email')
      +sample-form('Text field', 'Hover / Focus')
        +field()(type='text', value='This is pretty awesome')
      +sample-form('Dropdown', 'Default')
        -
          const options = {
            zero: 'Сколько',
            single: 'гость',
            plural: 'гостей',
            specialPlural: {
              word: 'гостя',
              condition: (value) => {
                const remMain = value % 100;
                const remSub = remMain % 10;
                return remSub > 1 && remSub < 5 && !(remMain > 11 && remMain < 15);
              }
            }
          }
        +dropdown(options, ['Взрослые', 'Дети', 'Младенцы'])