include /mixins
//- Comment add ui-kit styles
//- +ui-kit

doctype html
html
  head
    title Form Elements
  +body()(mix='text')
    +header()(mix='ui-kit__header')
      +logo-sign()(mix='ui-kit__logo')
    +main
      +sample-form('Text field', 'Default')
        +field()(type='email', placeholder='Email')
      +sample-form('Text field', 'Hover / Focus')
        +field()(type='text', value='This is pretty awesome')