include /mixins
//- Comment add ui-kit styles
//- +ui-kit

doctype html
html
  head
    title Form Elements
  +body()(mix='text')
    +header()(mix='ui-kit__header')
      +logo-sign()(mix='ui-kit__logo')
    +main