include /mixins
//- Comment add ui-kit styles
//- +ui-kit

doctype html
html
  head
    meta(charset="utf-8")
    title Form Elements
  +body()(class='text')
    +header()(class='ui-kit__header')
      +logo-sign()(class='ui-kit__logo')
    +main
      +sample-form('Text field', 'Default')
        +field()(type='email', placeholder='Email')
      +sample-form('Text field', 'Hover / Focus')
        +field()(type='text', value='This is pretty awesome')
      +sample-form('Dropdown', 'Default')
        +dropdown()(class='dropdown_type_guests')
      +sample-form('Masked text field', 'Default')
        +field()(type='text', class='field_masked_date')
      +sample-form('Date dropdown')
        +date-picker()(class='date-picker_double')
      +sample-form('Date dropdown')
        +date-picker()(class='date-picker_double')
      +sample-form('Date dropdown')
        +date-picker
      +sample-form('Subscription text field')
        +subscription
      +sample-form('Checkbox buttons')
        +checkbox('Можно курить')
        +checkbox('Можно с питомцами')
        +checkbox('Можно пригласить гостей (до 10 человек)')
      +sample-form('Radio buttons')
        +radio('Мужчина')(name='sex')
        +radio('Женщина')(name='sex')
      +sample-form('Toggle')
        +checkbox('Получать спецпредложения')(class='checkbox_slider')
        +checkbox('Получать спецпредложения')(class='checkbox_slider')