@import 'dependencies.scss';

.ui-kit {
  $column-gap: 20px;
  $ref-padding: 141px;
  $min-padding: 20px;

  &__body {
    background-color: #fff;
  }

  &__main {
    @include calc-paddings($ref-padding: $ref-padding);
    column-gap: $column-gap;
    grid-template-columns: repeat(auto-fit, minmax($min-width - $min-padding * 2, 1fr));
    padding-top: 23px / $ref-rem;
    row-gap: 20px;
  }

  &__grid-item {
    $ref-col-width: ($ref-width - $column-gap * 2 - $ref-padding * 2) / 3;
    &-1 {
      padding-bottom: 60px;
      padding-right: percentage(53px / $ref-col-width);

      & .sample-form:nth-child(2) {
        & .input {
          letter-spacing: -0.2px;
        }
      }

      .two-date-pickers {
        column-gap: 19px;
        display: grid;
        grid-template-columns: auto auto;
        padding-bottom: 21px;
      }

      & .sample-form:nth-child(3) {
        margin-bottom: 3px;
      }
      & .sample-form:nth-child(4) {
        margin-bottom: 20px;
      }
      & .sample-form:nth-child(6) {
        padding-right: percentage(62px / $ref-col-width);
        margin-bottom: 21px;
      }
      & .sample-form:nth-child(7) {
        padding-right: percentage(62px / $ref-col-width);
      }
    }

    &-2,
    &-3,
    &-5,
    &-6,
    &-8,
    &-9 {
      padding-left: percentage(53px / $ref-col-width);;
    }

    &-2 {
      .sample-form:nth-child(1) {
        margin-bottom: 10px;

        .list_type_checkbox {
          padding-top: 12px;
          padding-right: percentage(90px / $ref-col-width);;
        }
      }
    
      .sample-form:nth-child(2) {
        margin-bottom: 11px;

        .list_type_radio {
          padding-top: 11px;
        }
      }
    
      .sample-form:nth-child(3) {
        margin-bottom: 12px;

        .list_type_toggle {
          padding-top: 11px;
        }
      }
    
      .sample-form:nth-child(4) {
        margin-bottom: 21px;
        .likes {
          column-gap: 10px;
          display: grid;
          grid-template-columns: min-content min-content;
          padding-top: 11px;
        }
      }
    
      .sample-form:nth-child(5) {
        .rates {
          column-gap: 20px;
          display: grid;
          grid-template-columns: min-content min-content;
          padding-top: 8px;
        }
      }
    }

    &-3 {
      form:nth-child(1) {
        margin-bottom: 14px;
        padding-right: percentage(63px / $ref-col-width);
      }

      .buttons {
        column-gap: 20px;
        display: grid;
        grid-template-columns: max-content max-content;
        margin-bottom: 31px;
        margin-top: 11px;
        row-gap: 30px;
        width: 230px;
        & .button_type_text {
          padding-right: 1px;
        }
      }

      .button_size_big {
        margin-top: -1px;
      }

      .sample-form:nth-child(2) {
        margin-bottom: 20px;
      }

      .sample-form:nth-child(3) {
        padding-left: 1px;
      }
    }

    &-4 {
      margin-left: -1px;
      padding-right: percentage(108px / $ref-col-width);
      margin-bottom: 14px;
    }

    &-7 {
      padding-top: 5px;
      padding-right: percentage(108px / $ref-col-width);

      .sample-form:nth-child(1) {
        margin-bottom: 26px;
      }

      .sample-form:nth-child(2) {
        margin-left: -1px;
      }
    }

    &-8 {
      padding-right: percentage(63px / $ref-col-width);

      .list__item:first-child .checkbox__description {
        padding-right: percentage(37px / $ref-col-width);
      }

      .list_type_rich {
        padding-top: 11px;
      }
    }

    &-9 {
      padding-right: percentage(63px / $ref-col-width);

      .list_type_list {
        padding-top: 8px;
      }
    }

    &-10 {
      margin-left: -1px;

      .list_type_icon {
        margin: 0;
        padding-top: 2px;
      }
    }

    &-11 {
      padding-left: percentage(53px / ($ref-col-width * 2 + $column-gap));
      @media (min-width: 703px) {
        grid-column-end: span 2;
      }
    }
  }
}