.body {
  max-width: $max-width;
  min-width: $min-width;
  width: 1440px;
  margin: 0;
  padding: 0;
}

.ui-kit {
  &__header {
    margin: 0;
    padding: 30px;
  }
  &__logo {
    display: block;
  }
  &__grid-container {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-columns: repeat(3, 320px);
    grid-column-gap: 99px;
    grid-row-gap: 20px;
    padding-left: 141px;
    padding-right: 141px;
    padding-top: 23px;
  }
}

.form-elements__cell2 {
  margin-left: 27px;
  // margin-left: auto;
}

.form-elements__cell11 {
  @media (min-width: 820px) {
    grid-column-end: span 2;
  }
}

.form-elements__cell1 {
  & .sample-form:nth-child(3) {
    margin-bottom: 11px;
  }
  & .sample-form:nth-child(4) {
    margin-bottom: 28px;
  }
  & .sample-form:nth-child(6) {
    margin-right: 53px;
    margin-bottom: 29px;
  }
  & .sample-form:nth-child(7) {
    margin-right: 53px;
  }
}

.double-date-picker {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 20px;
  margin-bottom: 21px;
}

.form-elements__cell2 {
  .sample-form {
    margin-bottom: 28px;
  }
}