// Rule set from https://google.github.io/material-design-icons/
.icon {
  font-weight: normal;
  font-style: normal;
  display: inline-block;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}