@mixin button_size {
  .button_size {
    &_normal {
      height: 44px / $ref-rem;
      width: 99px / $ref-rem;
    }

    &_big {
      height: 44px / $ref-rem;
      min-width: 180px / $ref-rem;
      width: 100%;
    }

    &_min {
      padding: 0;
    }
  }
}