$fonts: ('Montserrat': regular bold, 'Quicksand': regular bold);
$formats: ('woff': 'woff', 'ttf': 'truetype', 'svg': 'svg');

@function font-src($font, $formats) {
  $sources: ();
  @each $extension, $format in $formats {
    $sources: append($sources, url('#{$font}.#{$extension}') format($format), $separator: comma);
  }
  @return $sources;
}

@mixin custom-font($font, $variants) {
  @each $variant in $variants {
    @font-face {
      font-family: $font;
      @if $variant == regular {
        src: font-src(#{$font}-Regular, $formats);
        font-weight: normal;
      }
      @else if $variant == bold {
        src: font-src(#{$font}-Bold, $formats);
        font-weight: bold;
      }
      font-style: normal;
    }
  }
}

@each $font, $variants in $fonts {
  @include custom-font($font, $variants);
}