@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Bold.woff') format('woff'),
       url('Montserrat-Bold.ttf') format('truetype'),
       url('Montserrat-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.woff') format('woff'),
       url('Montserrat-Regular.ttf') format('truetype'),
       url('Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-Bold.woff') format('woff'),
       url('Quicksand-Bold.ttf') format('truetype'),
       url('Quicksand-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
