//- File generated automatically.
//- Any changes will be discarded during next compilation.

include ../double-date-picker/double-date-picker.pug
include ../guests/guests.pug
include ../button/button.pug
