mixin search
  form.search&attributes(attributes)
    h1.search__header Найдём номера под ваши пожелания
    span Прибытие
    +date-picker('double')
    span Выезд
    +date-picker('double')
    span Гости
    +dropdown('guests')
    +button({text: 'Подобрать номер', icon: 'arrow_forward'}, 'fill', 'big')