include dependencies.pug
mixin footer__subscription
  .footer__subscription
    .text_level_h3 Subscribe to our newsletter
    p.footer__subscription-message
      ='Receive our latest news and promotions in your inbox!'
    +subscription('Your email address')