//- File generated automatically.
//- Any changes will be discarded during next compilation.

include __about/footer__about.pug
include __copyright/footer__copyright.pug
include __main/footer__main.pug
include __social/footer__social.pug
include __subscription/footer__subscription.pug
