include dependencies.pug
mixin user-info
  .user-info
    +input()(placeholder='Имя')
    +input()(placeholder='Фамилия')
    +list([
      {name: 'sex', label: 'Мужчина', checked: ''},
      ['sex', 'Женщина']
    ], 'radio')
    span Дата рождения
    +input(true)