include dependencies.pug
mixin footer__about(message)
  - message = message || 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.'
  .footer__about
    +logo()(class='footer__logo')
    p.footer__text
      =message