include dependencies.pug
mixin card(type)
  .card(class=`card_${type}`)
    case type
      when 'search'
        +card__search
      when 'registration'
        +card__registration
      //- when 'reservation'
      //-   +card__reservation
      //- when 'login'
      //-   +card__login