//- File generated automatically.
//- Any changes will be discarded during next compilation.

include __calculation/card__calculation.pug
include __calculation-item/card__calculation-item.pug
include __calculation-total/card__calculation-total.pug
include __login/card__login.pug
include __registration/card__registration.pug
include __reservation/card__reservation.pug
include __search/card__search.pug
