//- File generated automatically.
//- Any changes will be discarded during next compilation.

include ../search/search.pug
include ../registration/registration.pug
include ../reservation/reservation.pug
include ../login/login.pug
