@mixin list_type {
  .list_type {
    &_checkbox {
      color: $dark-50;
      list-style: none;
      width: 230px;
      @include checkbox;
    }
    &_radio {
      color: $dark-50;
      list-style: none;
      display: flex;
      @include radio;
    }
  }
}