.list_type {
  &_list {
    padding-top: 8px;
  }
  &_checkbox {
    color: $dark-50;
    padding-top: 12px;
  }
  &_radio {
    color: $dark-50;
    column-gap: 10px;
    display: flex;
  }
  &_icon {
    padding-top: 2px;
  }
}