@mixin list_type {
  .list_type {
    &_checkbox {
      color: $dark-50;
      list-style: none;
    }
    &_toggle {
      list-style: none;
      margin-top: 11px;
    }
    &_radio {
      color: $dark-50;
      column-gap: 10px;
      display: flex;
      list-style: none;
      margin-top: 11px;
    }
  }
  @include checkbox;
  @include radio;
}