.list__item_type_list {
  column-gap: 10px;
  display: flex;
  margin-bottom: 10px;
  &::before {
    background-color: $dark-25;
    border-radius: 50%;
    content: '';
    flex-shrink: 0;
    height: 10px;
    margin-top: 7px;
    width: 10px;
  }
}