include /mixins

doctype html
html
  head
    title Colors & Type
  +body()(mix='text')
    +header()(mix='body__header')
      +logo-sign
    +main()(mix='body__main')
      +palette
      +font-sample