include /mixins.pug

doctype html
html.ui-kit
  head
    meta(charset="utf-8")
    title
      block title
        ='UI-kit'
  +body()(class='text')
    +header()(class='ui-kit__header')
      +logo-sign()(class='ui-kit__logo')
    +main()(class='ui-kit__main')
      block content