$container-padding: 37px !default;
$ref-width: 1440px !default;
$side-padding: 150px !default;

.ui-kit {
  &__header {
    margin: 0;
    padding: 30px;
  }
  &__logo {
    display: block;
  }
  &__grid-container {
    display: grid;
    grid-column-gap: calc(100% - #{$side-padding * 2 + 586px});
    grid-row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: $container-padding;
    padding-left: percentage($side-padding / $ref-width);
    padding-right: percentage($side-padding / $ref-width);
  }
  &__grid-item {
    margin: 0;
    padding-left: 0;
  }
}