//- File generated automatically.
//- Any changes will be discarded during next compilation.

include '__total/dropdown__total.pug';
include '__list/dropdown__list.pug';
include '__controls/dropdown__controls.pug';
