mixin dropdown(...items)
  -
    const typeItems = {
      'dropdown_type_guests': [
        'Взрослые',
        'Дети',
        'Младенцы'
      ],
      'dropdown_type_conveniences': [
        'Спальни',
        'Кровати',
        'Ванные комнаты'
      ]
    };
    // Use given array of items or defaults
    const listItems = (items && items.length) ? items :
                      (attributes.class && typeItems[attributes.class]) ? typeItems[attributes.class] : [];

  .dropdown&attributes(attributes)
    +dropdown__total
    +dropdown__list(listItems)