@import 'dependencies.scss';
.palette__item {
  align-items: center;
  column-gap: 40px / $ref-rem;
  display: grid;
  grid-template-columns: #{70px / $ref-rem} 1fr;
  padding-bottom: 20px / $ref-rem;
}