@mixin palette__item {
  $ref-rem: 1 !default;
  .palette__item {
    align-items: center;
    display: grid;
    grid-column-gap: 40px / $ref-rem;
    grid-template-columns: #{70px / $ref-rem} 1fr;
    margin-bottom: 20px / $ref-rem;
  }
}