mixin checkbox-list(items)
  //- items - array of strings or arrays (the first element of array is an item name, the second one - description)
  ul.checkbox-list&attributes(attributes)
    each item in items
      +checkbox-list__item(item)