.palette__plate_color {
  @each $opacity in (100, 75, 50, 25, 5) {
    &_dark-shade-#{$opacity} {
      background-color: rgba($color: #1f2041, $alpha: $opacity / 100);
    }
  }
  &_purple {
    background-color: rgba($color: #bc9cff, $alpha: 1.0);
  }
  &_green {
    background-color: rgba($color: #6fcf97, $alpha: 1.0);
  }
}