//- File generated automatically.
//- Any changes will be discarded during next compilation.

include ../../account/account.pug
include ../../button/button.pug
include ../../have-account/have-account.pug
