extends ../ui-kit/ui-kit

block title
  include dependencies.pug

  = 'Headers & Footers'

block content
  +header()(class='ui-kit__main-item')
  +header('Cosmin Negoita')(class='ui-kit__main-item')
  +footer()(class='ui-kit__main-item')
  +footer()(class='ui-kit__main-item')