@import 'dependencies.scss';

.ui-kit {
  &__body {
    background-color: $grey;
    margin: 0;
    padding: 0;
    width: 1440px;
  }

  &__header {
    margin-bottom: 42px;
  }

  &__main-item {
    margin-bottom: 40px;
  }
}