extends ../ui-kit/ui-kit

block title
  include dependencies.pug

  = 'Headers & Footers'

block content
  +header()(class='ui-kit__main-item')
  +header({user: 'Cosmin Negoita'})(class='ui-kit__main-item')
  +footer()(class='ui-kit__main-item')
  +footer('creative_always')(class='ui-kit__main-item')