mixin photo(room)
  - const images = require('blocksPath/rooms-images/rooms-images')[room];
  .photo
    each image in images.large
      img(src=image)
    each image in images.normal
      img(src=image)
