@mixin icon_color {
  .icon_color {
    &_gradient {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}