//- File generated automatically.
//- Any changes will be discarded during next compilation.

include _type/_icon/list__item_type_icon.pug
include _type/_list/list__item_type_list.pug
include _type/_checkbox/list__item_type_checkbox.pug
