//- File generated automatically.
//- Any changes will be discarded during next compilation.

include _type_icon/list__item_type_icon.pug
include _type_list/list__item_type_list.pug
include _type_checkbox/list__item_type_checkbox.pug
