include dependencies.pug
mixin list__item(item, type)
  li.list__item(class=`list__item_type_${type}`)&attributes(attributes)
    case type
      when 'icon': +list__item_type_icon(item)
      when 'list': +list__item_type_list(item)
      when 'checkbox'
      when 'radio'
      when 'rich'
      when 'toggle': +list__item_type_checkbox(item, type)