@mixin comment {
  @include avatar;
  @include like;

  .comment {
    display: grid;
    grid-template-columns: 48px / $ref-rem 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 12px;
  }

  @include comment__like;
  @include comment__text;
  @include comment__user;
}