mixin comment(userName, date, message, like)
  article.comment
    +avatar(userName)
    p.comment__user= userName
    p.comment__date= date
    - const [liked, number] = like;
    +like(liked, number)
    p.comment__text= message