.button_type_border {
  background-image: $primary-gradient;
  background-origin: border-box;
  border: solid 2px transparent;
  box-shadow: 0 50px/$ref-rem $light inset;

  &.button_focused,
  &:hover,
  &:focus {
    background-image: $primary-gradient-50;
  }
}