@import 'dependencies.scss';

.landing {
  @include side-paddings($ref-padding: 134px, $sides: 'right');
  @include side-paddings($ref-padding: 140px, $sides: 'left');
  // animation-duration: 60s;
  // animation-iteration-count: infinite;
  // animation-name: change;
  // animation-timing-function: linear;
  background-image: url('~images/rooms/landing_3.jpg');
  background-position: 0 -70px;
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: percentage(760px / $ref-width);
  padding-top: 70px;
}

// @keyframes change {
//   0% {
//     background-image: url('~images/rooms/landing_3.jpg');
//   }
//   50% {
//     background-image: url('~images/rooms/landing_2.jpg');
//   }
//   100% {
//     background-image: url('~images/rooms/landing_1.jpg');
//   }
// }