@import 'dependencies.scss';

.landing {
  @include calc-air($ref-air: 114px, $min-air: 0, $sides: 'right');
  @include calc-air($ref-air: 140px, $min-air: 0, $sides: 'left');
  @include calc-air($ref-air: 70px, $min-air: 10px, $sides: 'top');
  // animation-duration: 60s;
  // animation-iteration-count: infinite;
  // animation-name: change;
  // animation-timing-function: linear;
  background-image: url('~images/rooms/landing_3.jpg');
  background-position: 50% 99%;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  padding-bottom: 7px;

  @media (max-width: 600px) {
    & {
      justify-items: center;
    }
  }
}

// @keyframes change {
//   0% {
//     background-image: url('~images/rooms/landing_3.jpg');
//   }
//   50% {
//     background-image: url('~images/rooms/landing_2.jpg');
//   }
//   100% {
//     background-image: url('~images/rooms/landing_1.jpg');
//   }
// }