//- File generated automatically.
//- Any changes will be discarded during next compilation.

include '../../blocks/body/body.pug';
include '../../blocks/header/header.pug';
include '../../blocks/logo-sign/logo-sign.pug';
include '../../blocks/main/main.pug';
include '../../blocks/palette/palette.pug';
include '../../blocks/font-sample/font-sample.pug';
