// Sizing
$min-width: 320px;
$max-width: 1920px;
$ref-width: 1440px;
$ref-rem: 16px/rem;

@media (max-width: 819px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 820px) {
  html {
    font-size: 16px;
  }
}

// Colors
$dark: #1f2041;
$dark-100: $dark;
$dark-75: change-color($dark, $alpha: 0.75);
$dark-50: change-color($dark, $alpha: 0.5);
$dark-25: change-color($dark, $alpha: 0.25);
$dark-5: change-color($dark, $alpha: 0.05);
$primary-color: #bc9cff;
$secondary-color: #6fcf97;