//- File generated automatically.
//- Any changes will be discarded during next compilation.

include ../../room-header/room-header.pug
include ../../date-picker/date-picker.pug
include ../../guests/guests.pug
include ../__calculation/card__calculation.pug
include ../../button/button.pug
