@import '../input_type.scss';

.input_type_email {
  background: $light;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 14px;
  padding-top: 0;
  width: 100%;

  &::placeholder {
    color: $dark-25;
  }

  &:hover,
  &:focus,
  &.input_active {
    border-color: $dark-50;
  }
}