mixin room-plate__info(room)
  - const rooms = require('blocksPath/rooms-info/rooms-info');

  .room-plate__info
    +room-header(room)(class='room-plate__header text_level_h2')
    +room-plate__rating(rooms[room].rating, rooms[room].comments)