//- File generated automatically.
//- Any changes will be discarded during next compilation.

include ../../blocks/body/body.pug
include ../../blocks/header/header.pug
include ../../blocks/main/main.pug
include ../../blocks/footer/footer.pug
