include dependencies.pug
doctype html
html.toxin
  head
    meta(charset="utf-8")
    title
      block title
        ='Toxin'
  +body()(class='text toxin__body')
    +header({
      menu: [
        {name: 'О нас'},
        {name: 'Услуги', expandable: true},
        {name: 'Вакансии'},
        {name: 'Новости'},
        {name: 'Соглашения', expandable: true}
      ],
      buttons: [
        {content: {text: 'Войти'}, type: 'border'},
        {content: {text: 'Зарегистрироваться'}, type: 'fill'}
      ]
    })
    +main()(class='toxin__main')
      block content
    +footer