@import 'dependencies.scss';
.footer__menu {
  color: $dark-50;
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style: none;
  margin-top: 2px;
  padding-left: 40px;
  padding-right: 88px;
}