@mixin dropdown__container {
  .dropdown__container {
    display: none;
    border: 1px solid $dark-50;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 4px;

    .dropdown_expanded & {
      display: block;
    }
  }
}