@import 'dependencies.scss';
.room-plate__switcher-item {
  border-radius: 50%;
  border: 1px solid $light;
  box-shadow: 0px 5px 5px $dark-30;
  box-sizing: border-box;
  height: 7.5px;
  margin-left: 3.75px;
  width: 7.5px;
}