@mixin input_position {
  .input_position {
    &_external {
      border: 1px solid $dark-25;
      height: 44px / $ref-rem;
    }
    &_internal {
      border: none;
      height: 41px / $ref-rem;
    }
    &_invisible {
      height: 0;
      opacity: 0;
      position: absolute;
      width: 0;
      z-index: -9999;
    }
  }
}