@mixin input_position {
  .input_position {
    &_external {
      border: 1px solid $dark-25;
      height: 44px / $ref-rem;
    }
    &_internal {
      border: none;
      height: 42px / $ref-rem;
    }
  }
}