//- File generated automatically.
//- Any changes will be discarded during next compilation.

include ../input/input.pug
include ../list/list.pug
include ../checkbox/checkbox.pug
include ../button/button.pug
