include dependencies.pug
mixin registration
  form.registration&attributes(attributes)
    h1.registration__header.text_level_h1 Регистрация аккаунта
    +input()(placeholder='Имя', class='registration__name')
    +input()(placeholder='Фамилия', class='registration__name')
    .registration__sex
    +list([
      {name: 'sex', label: 'Мужчина', checked: ''},
      ['sex', 'Женщина']
    ], 'radio')(class='registration__sex')
    .registration__sub-header.text_level_h3 Дата рождения
    +input('date')(class='registration__date')
    .registration__sub-header.text_level_h3 Данные для входа в сервис
    +input()(type='email', placeholder='Email')
    +input()(type='password', placeholder='Пароль')
    +checkbox('offer', 'Получать спецпредложения', '', 'toggle')
    +button({text: 'Перейти к оплате', icon: 'arrow_forward'}, 'fill', 'big')
    span Уже есть аккаунт на Toxin
    +button({text: 'Войти'}, 'border')