include dependencies.pug
mixin registration
  form.registration&attributes(attributes)
    h1.registration__header.text_level_h1 Регистрация аккаунта
    span Данные для входа в сервис
    +input()(type='email', placeholder='Email')
    +input()(type='password', placeholder='Пароль')
    +checkbox('offer', 'Получать спецпредложения', '', 'toggle')
    +button({text: 'Перейти к оплате', icon: 'arrow_forward'}, 'fill', 'big')
    span Уже есть аккаунт на Toxin
    +button({text: 'Войти'}, 'border')