// Sizing
$min-width: 320px;
$max-width: 1920px;
$ref-width: 1440px;
$ref-rem: 16px/rem;

// Colors
$darkest: #000;
$light: #fff;
$dark: #1f2041;
$dark-100: $dark;
$dark-75: change-color($dark, $alpha: 0.75);
$dark-50: change-color($dark, $alpha: 0.5);
$dark-30: change-color($dark, $alpha: 0.3);
$dark-25: change-color($dark, $alpha: 0.25);
$dark-10: change-color($dark, $alpha: 0.1);
$dark-5: change-color($dark, $alpha: 0.05);

$primary-color: #bc9cff;
$primary-color-50: change-color($primary-color, $alpha: 0.5);
$primary-color-25: change-color($primary-color, $alpha: 0.25);

$primary-color-for-gradient: #8ba4f9;
$primary-color-for-gradient-50: change-color($primary-color-for-gradient, $alpha: 0.5);
$primary-color-for-gradient-25: change-color($primary-color-for-gradient, $alpha: 0.25);

$secondary-color: #6fcf97;
$secondary-color-for-gradient: #66d2ea;

$primary-gradient: linear-gradient(180deg, $primary-color 0%, $primary-color-for-gradient 100%);
$primary-gradient-50: linear-gradient(180deg, $primary-color-50 0%, $primary-color-for-gradient-50 100%);
$primary-gradient-25: linear-gradient(180deg, $primary-color-25 0%, $primary-color-for-gradient-25 100%);
$secondary-gradient: linear-gradient(180deg, $secondary-color 0%, $secondary-color-for-gradient 100%);

// Fonts
$header-font-family: 'Quicksand', 'Montserrat', sans-serif;
$text-font-family: 'Montserrat', sans-serif;

$body-font-size: 14px / $ref-rem;
$body-line-height: 24px / 14px;
$h1-font-size: 24px / $ref-rem;
$h1-line-height: 30px / 24px;
$h2-font-size: 19px / $ref-rem;
$h2-line-height: 24px / 19px;
$h3-font-size: 12px / $ref-rem;
$h3-line-height: 15px / 12px;

$normal-icon-font-size: 24px / $ref-rem;