$flex-item-width: 443px;
$container-padding: 37px;

@mixin ui-kit {
  .ui-kit {
    &__header {
      margin: 0;
      padding: 30px;
    }
    &__logo {
      display: block;
    }
    &__flex-container {
      // grid-gap: 253px / ($ref-width - 150px * 2) * 100%;
      $total: 150px * 2 + 586px;
      grid-gap: calc(100% - #{$total});
      padding: $container-padding;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      // justify-items: center;
      $side-padding: 150px;
      padding-left: $side-padding / $ref-width * 100%;
      padding-right: $side-padding / $ref-width * 100%;
    }
    &__flex-item {
      // @media (max-width: 1023px) {
      //   width: percentage($flex-item-width / 1023px);
      // }
      // @media (min-width: 1024px) {
      //   width: $flex-item-width;
      // }
      margin: 0;
      // min-width: $min-width - $container-padding * 2;
      padding: 0;
    }
  }
}