@mixin checkbox__box_type {
  .checkbox__box_type {
    &_checkbox {
      border-radius: 4px;
      width: 20px;

      .checkbox__input:checked ~ & {
        &::before {
          background: $primary-gradient;
          content: '';
          height: 8px;
          position: absolute;
          transform: translate(6px, 4px) rotate(45deg);
          width: 6px;
        }
  
        &::after {
          background: $light;
          content: '';
          height: 7px;
          position: absolute;
          transform: translate(6.5px, 2.5px) rotate(45deg);
          width: 5px;
        }
      }
    }

    &_radio {
      border-radius: 50%;
      width: 20px;

      .checkbox__input:checked ~ & {
        &::before {
          background: $primary-gradient;
          border-radius: 50%;
          content: '';
          height: 12px;
          position: absolute;
          transform: translate(3px, 3px);
          width: 12px;
        }
      }
    }

    &_rich {
      border-radius: 4px;
      width: 20px;
    }

    &_toggle {
      border-radius: 10px;
      width: 40px;

      &::before {
        background: $dark-25;
        border-radius: 50%;
        content: '';
        height: 12px;
        position: absolute;
        transform: translate(3px, 3px);
        width: 12px;

        .checkbox__input:checked ~ & {
          background: $primary-gradient;
          transform: translate(23px, 3px);
        }
      }
    }
  }
}