@import 'dependencies.scss';
.ui-kit {
  &__body {
    background-color: $grey;
  }

  &__main {
    @include calc-air;
    column-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    padding-top: 42px;
  }

  &__flex-item {
    align-content: flex-start;
    column-gap: 40px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    row-gap: 40px;
    &:nth-child(1),
    &:nth-child(2) {
      flex-basis: 380px;
      justify-content: center;
    }
    &:nth-child(3) {
      flex-basis: 320px;
      justify-content: start;
    }
  }
}