@import 'dependencies.scss';
.ui-kit {
  &__body {
    background-color: $grey;
  }

  &__main {
    @include calc-air;
    column-gap: 40px;
    grid-template-columns: repeat(2, minmax(340px / $ref-rem, 380fr)) 320fr;
    row-gap: 40px;
    padding-top: 42px;

    @media (max-width: 1360px) {
      grid-template-columns: repeat(auto-fit, minmax(340px / $ref-rem, 1fr));
    }
  }

  &__grid-item {
    align-content: start;
    align-items: start;
    column-gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px / $ref-rem, 1fr));
    justify-items: start;
    row-gap: 40px;

    @media (max-width: 1360px) {
      justify-items: center;
      grid-template-columns: repeat(auto-fit, minmax(340px / $ref-rem, 1fr));
    }

    &:nth-child(3) {
      grid-template-columns: repeat(auto-fit, minmax(320px / $ref-rem, 1fr));
      @media (max-width: 1360px) and (min-width: 720px) {
        grid-column-end: span 2;
      }
    }
  }
}