@import 'dependencies.scss';
.ui-kit {
  $ref-padding: 140px;
  $min-padding: 20px;
  $padding-frac: ($ref-padding - $min-padding) / ($ref-width - $min-width);
  $padding-comp: $min-width * $padding-frac - $min-padding;

  &__body {
    background-color: #f4f4f6;
  }

  &__main {
    $main-width: 1440px - 140px * 2;
    column-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    padding-left: calc(#{percentage($padding-frac)} - #{$padding-comp});
    padding-right: calc(#{percentage($padding-frac)} - #{$padding-comp});
    padding-top: 42px;
  }

  &__flex-item {
    align-content: flex-start;
    column-gap: 40px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    row-gap: 40px;
    &:nth-child(1),
    &:nth-child(2) {
      flex-basis: 380px;
      justify-content: center;
    }
    &:nth-child(3) {
      flex-basis: 320px;
      justify-content: start;
    }
  }
}