//- File generated automatically.
//- Any changes will be discarded during next compilation.

include ../../blocks/card/card.pug
include ../../blocks/calendar/calendar.pug
include ../../blocks/room-plate/room-plate.pug
