//- File generated automatically.
//- Any changes will be discarded during next compilation.

include ../../blocks/search/search.pug
include ../../blocks/registration/registration.pug
include ../../blocks/reservation/reservation.pug
include ../../blocks/login/login.pug
include ../../blocks/calendar/calendar.pug
include ../../blocks/room-plate/room-plate.pug
