@mixin input_type {
  %text {
    width: 100%;
    box-sizing: border-box;

    padding-left: 14px;
    padding-top: 0;
    padding-bottom: 0;

    background: $light;
    border-radius: 4px;

    &::placeholder {
      color: $dark-25;
    }

    &:hover,
    &:focus,
    &.input_active {
      border-color: $dark-50;
    }
  }
  .input_type {
    &_text {
      @extend %text;
    }

    &_email {
      @extend %text;
    }
  }
}