.header {
  @include calc-air($min-air: 10px);
  align-items: center;
  background-color: $light;
  box-shadow: 0px 10px 20px $dark-5;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: end;
  padding-top: 15px / $ref-rem;
  padding-bottom: 15px / $ref-rem;

  @media (max-width: 1120px) {
    column-gap: 40px;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'logo user'
                         'menu menu';
  }
}