@import 'dependencies.scss';

.header {
  @include side-paddings;
  background-color: $light;
  box-shadow: 0px 10px 20px $dark-5;
  display: flex;
  justify-content: space-between;
  padding-top: 15px / $ref-rem;
  padding-bottom: 15px / $ref-rem;
}