@mixin checkbox__box {
  $dark-25: rgba(0, 0, 0, 0.25) !default;
  $primary-color: purple !default;
  .checkbox__box {
    background: #fff;
    border: 1px solid $dark-25;
    border-radius: 4px;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 20px;
    position: relative;
    width: 20px;

    .checkbox__input:checked ~ & {
      border-color: $primary-color;
    }

    .checkbox_toggle & {
      border-radius: 10px;
      height: 20px;
      width: 40px;
    }
  }
}