mixin room-plate__gallery(room)
  - const images = require('blocksPath/rooms-images/rooms-images');

  .room-plate__gallery
    img(src=images[room][0], alt=`Номер ${room}`, class='room-plate__image')
    +room-plate__arrows
    +room-plate__switcher(images[room])