include dependencies.pug
mixin room-plate__gallery(room, images)
  .room-plate__gallery
    img(src=images[0], alt=`Номер ${room}`, class='room-plate__image')
    +room-plate__arrows
    +room-plate__switcher(images)