mixin date-picker__field(type)
  .date-picker__field&attributes(attributes)
    if type === 'single'
      +field()(type='text', readonly, class='date-picker__input')
    else if type === 'double'
      +field()(type='text', class='date-picker__input field_masked_date', data-inputmask='"clearMaskOnLostFocus": false', readonly)
    +icon('expand_more')(class='date-picker__icon')