mixin date-picker__field(type)
  span.date-picker__field
    if type === 'single'
      +field()(readonly)
    else if type === 'double'
      +field()(class='field_masked_date', data-inputmask='"clearMaskOnLostFocus": false', readonly)
    +icon('expand_more')