mixin date-picker__field(type, name)
  - const inputAttrs = { readonly: true };
  .date-picker__field&attributes(attributes)
    h2.date-picker__name.text_level_h3= name
    if type === 'single'
      +icon-field('expand_more', 'dark-50', false, inputAttrs)
    else if type === 'double'
      - Object.assign(inputAttrs, { 'data-inputmask': "'clearMaskOnLostFocus': false" });
      +icon-field('expand_more', 'dark-50', 'date', inputAttrs)