@mixin radio__button {
  .radio__button {
    background: #fff;
    border: 1px solid $dark-25;
    border-radius: 50%;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 20px;
    position: relative;
    width: 20px;

    .radio__input:checked ~ & {
      border-color: $primary-color;

      &::after {
        background: $primary-gradient;
        border-radius: 50%;
        content: '';
        height: 12px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 12px;
      }
    }
  }
}